<div class="bp-nav">
  <div class="bp-display-flex">
    <div class="bp-logo-wrapper">
      <a href="" class="bp-logo"></a>
    </div>
    <div class="bp-margin-right-auto"></div>
    <div class="bp-search-bar-wrapper bp-xs-display-none-hide">
      <form>
        <label class="bp-line-form-label">
          <input type="search" class="bp-form-control bp-line-form-control" placeholder="search">
        </label>
      </form>
    </div>
    <div class="bp-nav-menu-wrapper">
      <button type="button" role="button" class="bp-link bp-nav-icon"></button>
    </div>
  </div>
</div>
