@import '~sass/settings/variables';

.bp-logo-nav {
  width: 121px;
  height: 31px;
  margin-right: .5em;
  background-image: url('../assets/images/bluprint-logo-white.svg');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.container {
  display: block;
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
}

.app-title {
  margin-left: auto;
  font-size: .8em;
}
