@import '~sass/settings/variables';

.bp-hero {
  position: relative;
  @media #{$bp-media-query-medium-screen} {
    height: 80vh;
    overflow-y: hidden;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}

.bp-hero-article-title-wrapper {
  position: absolute;
  top: 2rem;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  @media #{$bp-media-query-medium-screen} {
    top: 25%;
    padding: 2rem;
  }
}

.bp-hero-article-title {
  width: 35%;
}

.bp-article-thumb-wrapper {
  width: 430px;
  height: 100%;
  max-height: 230px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
